.tooltip {
  position: absolute;
  z-index: 100; /* Assurez-vous qu'il est au-dessus des autres éléments */
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 4px;
  border-radius: 4px;
}

.tooltip-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 5px;
  outline: none;
  padding: 2px;
  transition: box-shadow 0.3s, transform 0.3s;
}
